@import "~bootstrap/scss/bootstrap-grid.scss";

.sets-page{
    height: 100%;
    width: 100%;
    overflow: auto;

    .main-page-content{
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
    
        align-items: center;
    
        @include media-breakpoint-up(md) {
            padding: 2em;
        }
    }
}