@import "../../styles/colors.scss";

.sets-page.sets-page--lobby {
  background-color: $prune;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  .sets-logo {
    font-size: 10em;
  }

  .score-board{
    width: 100%;
  }

  .users-list {
    .user-score-container {
      margin-bottom: 2em;
    }
    .user-score-container:last-child {
      border: none;
    }
  }
}
