.sets-page--game {
  display: flex;
  flex-direction: row;

  background-color: #2b2a27;

  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;

    width: 20em;

    background-color: purple;
    color: white;

    .row-infos {
      display: flex;
      justify-content: space-evenly;
      margin: 1em 0;
      width: 100%;
    }

    .room-id {
      font-size: 1.5em;
      border-radius: 0.5em;
      align-self: center;
    }

    .sets-logo {
      font-size: 5em;
    }

    .sets-logo,
    .score-board h4,
    .dark-bg {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .score-board {
      flex: 1;
      width: 100%;
      overflow: auto;
    }
  }

  .game-button-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 1em 0;

    width: 100%;

    & > .btn {
      margin: 0;
      padding: 1em 2em;
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;

    .board-container {
      padding: 1em;
    }
  }
}
