.sets-page--game {
  display: flex;
  flex-direction: row;

  background-color: #2b2a27;

  &.game-ask-deal {
    background-color: #633f09;
  }

  &.game-state--buzzed {
    background-color: #742020;
  }

  position: relative;

  .side-bar-toogle {
    display: none;
    width: 100%;
    height: 4em;

    button {
      width: 100%;
      border: none;
      background-color: #581845;
      color: white;
      &:focus {
        outline: none;
      }
    }

    @media (max-width: 950px) {
      display: flex;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;
  }

  .main-content {
    flex: 1;
    overflow: auto;
    display: flex;
    // padding: 2em;
    padding: 5vh 5vw;
  }
}
